.rmdb-header {
  width: 100%;
  height: auto;
  background: rgb(32, 167, 172) 89%;
  padding: 0 20px;
  box-sizing: border-box;
}
.heading-text{
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-size: 48px;
}

.rmdb-header-content {
  max-width: 1280px;
  min-height: 120px;
  height: auto;
  padding: 20px 0px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

.movie-reel-logo {
  width: 300px;
  margin-top: 20px;
  float: left;
}


@media screen and (max-width: 500px) {
  .rmdb-header-content {
    max-width: 1280px;
    min-height: 0px;
  }

  .movie-reel-logo {
    width: 150px;
    margin-top: 5px;
  }
}